 @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-color: #4a6fa5;
    --secondary-color: #a8e6ff;
    --hover-color: #3b5d8a;
}

body {
    font-family: Rubik, sans-serif;
    background: linear-gradient(to top right, var(--secondary-color), #ffffff);
    padding: 20px;
}

a {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    margin-bottom: 20px;
    margin-top: 30px;
    float: right;
    color: var(--primary-color);
}

h1 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 32px;
    color: var(--primary-color);
    float: left;
}

h1 img {
    height: 50px;
}

h2 {
    margin-top: 30px;
    color: var(--primary-color);
}

.main-content {
    clear: both;
    padding-top: 20px;
    color: var(--primary-color);
}

table {
    border-collapse: collapse;
    width: 50%;
    max-width: 900px;
    background: white;
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
    color: var(--primary-color);
}

th, td {
    border: 1px solid #333;
    padding: 10px 12px;
}

th {
    background-color: var(--primary-color);
    color: white;
    text-align: left;
}

td {
    background-color: white;
}

p {
    font-size: 18px;
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--hover-color);
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    font-size: 16px;
    margin-left: 10px;
    color: var(--primary-color);
}

select {
    padding: 5px;
    font-size: 16px;
    margin-left: 10px;
    color: var(--primary-color);
}